
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
xgboost==2.1.1
shap==0.44.0
matplotlib==3.8.4
seaborn==0.13.2
jupyter==1.0.0
geopandas==0.14.4
rasterio==1.3.10
xarray==2024.6.0
rioxarray==0.15.7
earthengine-api==0.1.414
cdsapi==0.7.0
joblib==1.4.2
tqdm==4.66.4
plotly==5.22.0
streamlit==1.36.0
openpyxl==3.1.5
